body{
    font-family:'Times New Roman', Times, serif;
    margin:450px;
    margin-top: 20;
    padding:0PX;
    background-color: rgb(7, 38, 68);
    color: aliceblue;
    width: 500;
    align-items: center;
    
}
h1{
    text-align: center;
}
form{
    margin:50;
    border-radius:5px;
    box-shadow:0 4px 50px;
    padding: 10px;
}
fieldset{
    margin: 90px solid; 
    border-radius: 5px;
    margin-bottom: 20px;
    

}
label{
    display: block;
}

